.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  padding-top: 50px; /* Adjust this value as needed */
}

  
  .auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Spacing between buttons */
  }
  
  .auth-buttons h1 {
    font-size: 2rem; /* Larger heading font size */
  }
  
  .auth-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #333; /* Default button text color */
    transition: all 0.3s ease;
  }
  
  .auth-buttons button.active {
    background-color: #4CAF50; /* Green background color when button is active */
    color: #fff; /* White text color */
  }
  
  .auth-form {
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
    margin-top: 20px; /* Space between buttons and form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .auth-form button.submit-button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .auth-form button.submit-button:hover {
    background-color: #45a049; /* Darker shade of green on hover */
  }
  
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjust content position */
    height: 100vh; /* Full viewport height */
    padding-top: 50px; /* Adjust this value as needed */
  }
  
  .registration-success {
    text-align: center;
  }
  
  .registration-success ul {
    list-style-type: none;
    padding: 0;
  }
  
  .registration-success li {
    margin: 5px 0;
  }
  